body{
	padding: 100px 0;
}
h3,p{
	text-align: center;
	color: #666;
}
.container{
	/* padding:50px 100px; */
}
label{
	color: #9A9A9A;
}
button{
	background: #00AEB7!important;
	border-color: #00AEB7!important;
	color: white!important;
	padding: 15px 20px!important;
}
.submit{
	text-align: center;
	margin: 20px;
}
form p{
	padding: 20px ;
}
form input{
	height: 50px!important;
}
.form{
	padding: 30px 0;
}
   /*Footer*/
        #footer{
            height: 300px;
            background: #00AEB6;
            padding: 20px;
            color: white;
            position: relative;
            bottom: 0px;
            -webkit-animation-name: bg1;
            animation-name: bg1;
            animation-iteration-count: infinite;
            animation-duration: 4s;
            display: block;
        }
        #footer h3{
            color: white;
            text-align: center;
        }
        #footer p{
            color: white;
            text-align: center;
            font-size: 20px;
            margin: 20px;
        }
        #footer ul{
            text-align: center;
        }
        #footer ul li{
            display: inline-block;
            padding: 5px 20px;
        }
        #footer ul li a{
            color: #E8E8E8;
            font-size: 18px;
        }
        #footer ul li a:hover{
            text-decoration: none;
            color: white;
        }
        .bottom1 {
            margin-top: 50px;
        }
        .bottom1 p{
           color: #E8E8E8!important;
        }
        .b1{
            width: 100px;
            position: absolute;
            top: 50px;
            left: 450px;
            z-index: 99;
            opacity: 0.4;
            -webkit-animation-name: ts;
            animation-name: ts;
            animation-iteration-count: infinite;
            animation-duration: 4s;
        }
        .b2{
            width: 100px;
            position: absolute;
            top: 100px;
            left: 400px;
            z-index: 99;
            opacity: 0.3;
            transform: rotate(20deg);
             transform: rotate(50deg);
            -webkit-animation-name: ts2;
            animation-name: ts2;
            animation-iteration-count: infinite;
            animation-duration: 4s;
        }
        .b3{
            width: 100px;
            position: absolute;
            top: 0px;
            left: 200px;
            z-index: 99;
            opacity: 0.3;
            transform: rotate(50deg);
        }
        .b4{
            width: 50px;
            position: absolute;
            bottom: 150px;
            right: 200px;
            z-index: 99;
            opacity: 0.5;
            transform: rotate(70deg);
        }
        .b5{
            width: 100px;
            position: absolute;
            top:150px;
            right: 200px;
            z-index: 99;
            opacity: 0.3;
            transform: rotate(-50deg);
        }
        .b6{
            width: 50px;
            position: absolute;
            top: 230px;
            left: 100px;
            z-index: 99;
            opacity: 0.3;
            transform: rotate(90deg);
        }
        .b7{
            width: 70px;
            position: absolute;
            top: 50px;
            left: 70%;
            z-index: 99;
            opacity: 0.5;
            transform: rotate(-70deg);
        }
        
        @-webkit-keyframes ts{

            0% { -webkit-transform: scale(0.5); -webkit-transform: rotateY(40deg); opacity: 1; }
            30% { -webkit-transform: rotateX(30deg); opacity: 0.9; }
            50% { opacity: 0; }
            80% { -webkit-transform: rotateY(40deg) rotate(200deg) scale(2); opacity: 0;}
            100% { opacity: 0;}

        }

        @-webkit-keyframes ts2{

            0% { -webkit-transform: scale(0.5); -webkit-transform: rotateY(40deg); opacity: 1; }
            30% { -webkit-transform: rotateX(30deg); opacity: 0.9; }
            50% { opacity: 0; }
            80% { -webkit-transform: rotateY(40deg) rotate(100deg) scale(2); opacity: 0;}
            100% { opacity: 0;}

        }

        @-webkit-keyframes bg1{

            0% {opacity: 1;}
            30% {opacity: 1;}
            100% {opacity: 0.5; display: none;}
        }
        /*Footer*/
