.account .con{
	width: 100%;
	background: #F4F4F4;
	/* padding: 20px ; */
}
.account .con .row{
	width: 80%;
	float: left;
	padding: 20px;
	vertical-align: middle;
}
.account .con .row div{
	vertical-align: middle;
	color: #9A9A9A;
}
.account .con .row .pic{
	border-radius: 50%;
}
.account .con .row .pic img{
	width: 50%;
	border-radius: 50%;
}
.test{
	background: #666666;
	height: 100%;
	text-align: center;
	padding: 20px 10px;
}
.test i{
	font-size: 30px;
	color: white;
}
.test p{
	color: white;
	padding: 10px 0;
	margin-bottom: 0;
}
.test button{
	background: #00AEB7;
	border-color: #00AEB7;
}
.safe{
	margin-top: 20px;
}
/* .safe ul{
	width: 100%;
}
.safe ul li{
	padding: 20px;
	background: #F4F4F4;
	border-bottom: 1px solid #ccc;
}
.safe ul li:last-child{
	border-bottom: none;
}
.safe li span:first-child{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #00B359;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 20px;
} */
.safe>.el-row>.el-col{
	background: #F4F4F4;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}
.safe .el-col:last-child{
	border: none;
}
.tit-prompt .el-col{
	text-align: center;
}
.tit-prompt .el-col .bg-purple div{
	cursor: pointer;
}
.tit-prompt .el-col:first-child{
	text-align: left;
}
.tit-prompt .el-col:last-child{
	text-align: right;
}
.safe .el-col span:first-child{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #00B359;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 20px;
} 

